project:
  type: website

website:
  title: "Profile Plot"
  navbar:
    left:
      - href: Dr.-O-Neal-s-PARTNER.qmd
        text: Home

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

