project:
  type: website
  output-dir: docs

website:
  title: "Profile Plot"
  navbar:
    left:
      - href: Dr.-O-Neal-s-PARTNER.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

